synthexplorer.dev {
	encode zstd gzip
	log {
		output stdout
		format json
	}
	handle /metrics {
		respond 404
	}
	handle {
		reverse_proxy {$APP_UPSTREAM:app:8787}
	}
}

www.synthexplorer.dev {
	redir https://synthexplorer.dev{uri} permanent
}
